$primary-color: #444;
$secondary-color: #00d1cd;
$show-home-img: true;
$home-img: url(../img/background.jpg);
$background-opacity: .9;

@mixin easeOut {
    transition: all 1.5s ease-out;
}

@mixin background {
    @if $show-home-img {
        &#bg-img {
            background: $home-img;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color,$background-opacity);
            }
        }
        
    }
}